
h1 {
    text-align: center;
}

h2{
    text-indent: 2%;
}

/* --------------------------------------------------------------------------- */

/* Main Content */
.main-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; /*between*/
}

/* --------------------------------------------------------------------------- */


/* Navigation */

#navigation {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    align-items: center;
}

#leftnav {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rightnav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#search {
    height: 25px;
    align-self: center;
}

#logo {
    width: 80px;
    height: 60px;
}

#profile-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-self: center;
}

#cart-img {
    width: 40px;
    height: 40px;
}

.forcart{
    display: flex;
    align-items: center;
}


/* --------------------------------------------------------------------------- */

/* Order Summary */

.order-summary {
    width: 30%;
}

#discountbox {
    width: 425px;
    height: 30px;
}

.s-details {
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
}

#checkout {
    width: 100%;
    height: 35px;
}


/* --------------------------------------------------------------------------- */

/* Cart */

#cart{
    margin-top: 22px;
    width: 60%;
}

.cart-category {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    flex: 1;
}

#product{
    width: 30%;
    text-align: left;
    text-indent: 20px;
}

.others{
    width: 20%;
}

.cart-category p {
    text-align: center;
}



/* --------------------------------------------------------------------------- */


/* Cart Items */

.item{
    flex: 1;
}

.item-details{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}

.item-others{
    width: 20%;
    text-align: left;
    text-indent: 20px;
}

.product-detail{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    text-align: left;
}

#quantityBox {
    width: 30px;
    height: 20px;
}



/* keep? */

/*.item-details {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 50px;
}

.item-details p {
    width: 25%;
}


.remove-button {
    width: 80px;
    height: 40px;
    justify-content: flex-end;
    margin-top: 0px;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
}

.remove {
    display: flex;
    justify-content: flex-end;
}

.item-line {
    width: 100%;
}*/



/* --------------------------------------------------------------------------- */

/* Footer */ 


#f-logo{
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
    margin-top: 80px;
}

.copyright{
    background-color: lightgray;
    height: 40px;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.contacts{
    width: 33%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#phone-icon{
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.phone{
    display: flex;
    align-items: center;
}

#email-icon{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.email{
    display: flex;
    align-items: center;
}
