h1{
    text-align: center;
}

.cart-category{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    margin-left: 50px;
}

.summary{
    float: right;
    justify-content: flex-start;
    width: 30%;
    margin-right: 20px;
}

#discountbox{
    width: 425px;
    height: 30px;
    margin-left: 0;
}

#navigation{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    align-items: center;
}

#search{
    height: 25px;
    align-self: center;
    margin-left: 800px;
}

.cart-category{
    display: flex;
    justify-content: space-around;
}

/*.item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100px;
    margin: 5px;
}*/

.item-details{
    display: flex;
    justify-content: space-around;
    margin-left: 0%;
}

.cart{
    width: 60%;
}

#quantityBox{
    width: 30px;
    height: 20px;
}
.remove-button{
    width: 80px;
    height: 40px;
    justify-content: flex-end;
    margin-top: 0px;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
}

.remove{
    display: flex;
    justify-content: flex-end;
}

.summary-items{
    display:flex;
    justify-content: space-between;
    margin-left: 2px;
}

#logo{
    width:80px;
    height: 60px;;
}

#profile-img{
    width:40px;
    height:40px;
}

#cart-img{
    width: 40px;
    height: 40px;
}

.item-line{
    width: 100%;
    margin-left: 50px;
}


/*<div id="categories">
                <p>Products</p>
                <p>Price</p>
                <p>Quantity</p>
                <p>Sub-Total</p>
            </div>
            <div class="item">
                <!--under product-->
                <img src="" alt="">
                <h4>Item Name</h4>
                <p>by Vendor</p>
                <p><br> Item details:</p>
                
                <!--under price-->
                <p>$#</p>

                <!--under quantity-->

            </div>*/