/* Website Main Font */
@font-face {
    font-family: "Vanity";
    src: url(Vanity-Light.ttf);
}

body {
  font-family:"Vanity";
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 0.625em; 
}

#navigation {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    align-items: center;
    padding: 0.625em 1.25em; 
}

#leftnav {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rightnav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    height: 1.6em; 
    padding: 0.3em; 
}

#logo, #f-logo {
    width: 9.375em; 
    height: 1.875em; 
    display: block;
    margin: auto;
}

#cart-img, #profile-img {
    width: 2.5em; 
    height: 2.5em;
    margin-left: 0.625em; 
}

.forcart {
    display: flex;
    align-items: center;
}

.user-menu {
    position: absolute;
    display: none;
    background-color: lightgray;
    width: 6.25em; 
    text-align: left;
    text-indent: 0.3em; 
    border-bottom-left-radius: 0.625em; 
    border-bottom-right-radius: 0.625em;
}

.user:hover .user-menu {
    display: block;
}

.all {
    display: flex;
    justify-content: center;
}

.sidebar {
    margin-bottom: 1.25em; 
    border-radius: 0.313em; 
    background-color: #f9f9f9;
    width: 20%;
    padding: 1.25em;
    float: left;
    box-sizing: border-box;
}

.sidebar h3, .sidebar p {
    margin: 0.625em 0; 
}

.sidebar input[type="checkbox"] {
    margin-right: 0.625em;
}

.sidebar input[type="text"] {
    width: 80%;
    padding: 0.3em; 
    margin-top: 0.625em; 
}

.product-item #img {
    display: flex;
    width: 2.5em; 
    height: 2.5em;
    justify-content: right;
}

.background {
    display: flex;
    justify-content: center;
}

.product-grid {
    width: 75%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25em; 
}

.product-item {
    width: 30%;
    margin-bottom: 1.25em; 
    border: 0.063em solid #ccc;
    border-radius: 0.313em;
    padding: 1.25em;
    text-align: center;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item h4 {
    margin: 0.625em 0;
}

.product-item p, pre {
    color: #666;
    font-size: 0.875em; 
}

.cart-icon {
    width: 3.125em; 
    height: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon img {
    width: 2.5em;
    height: auto;
}

.pagination {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 1.875em; 
}

.pagination a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}

.pagination a:active {
    background-color: #6d93aa;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #6d93aa;
    color: white;
    width: 1.875em; 
    height: 1.875em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    background-color: #f9f9f9;
    height: 2.5em; 
    display: flex;
    align-items: center;
    text-indent: 0.625em; 
}

.contacts {
    width: 33%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#phone-icon, #email-icon {
    height: 1.25em; 
    width: 1.25em;
    margin-right: 0.3em;}

.phone, .email {
    display: flex;
    align-items: center;
}
