/* Website Main Font */
@font-face {
    font-family: "Vanity";
    src: url(Vanity-Light.ttf);
}

/* Header */
head {
    font-family: "Vanity";
}

h1 {
    text-align: center;
}

/* Breadcrumb */
.breadcrumb-links {
    color: gray;
}

.breadcrumb {
    color: gray;
    margin: 2% 1%;
}

navigation {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    align-items: center;
    padding: 0.625em 1.25em; 
}

.user-arrow-icon {
    margin-left: 0.3em; 
    width: 0.625em; 
    height: 0.625em;
}

#navigation {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    align-items: center;
}

#leftnav {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rightnav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#search {
    height: 1.6em; 
    width: 40%;
    align-self: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.063em solid gray; 
    background-color: transparent;
}

#logo {
    width: 9.375em; 
    height: 1.875em; 
}

#profile-img, #cart-img {
    width: 2.5em; 
    height: 2.5em;
    display: flex;
    align-self: center;
}

.forcart {
    display: flex;
    align-items: center;
}

.user-menu {
    position: absolute;
    display: none;
    background-color: white;
    width: 6.25em; 
    text-align: left;
    text-indent: 0.3em; 
    border-bottom-left-radius: 0.625em; 
    border-bottom-right-radius: 0.625em;
}

.user-menu a {
    margin-left: 0.3em;
    color: black;
    text-decoration: none;
}

.user:hover .user-menu {
    display: block;
    width: 9.375em;
    background-color: #f9f9f9;
    z-index: 1;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.products {
    display: flex;
    justify-content: center;
}

/* REVIEW ORDER */
.review-order {
    padding: 1.25em; 
    margin: 2% 1%;
}

.review-order h1 {
    font-size: 1.5em; 
    margin-bottom: 0.625em; 
}

.order-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.625em; 
    border: 0.063em solid #ccc;
    border-radius: 0.313em; 
}

.order-number select {
    padding: 0.3em; 
}

.products {
    display: flex;
    flex-direction: column;
    margin: 2% 1%;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.25em; 
    margin-bottom: 0.625em; 
    border-radius: 0.313em;
    border: 0.063em solid #ccc;
    box-sizing: border-box;
}

.product-item img {
    width: 5em; 
    height: 5em;
    margin-right: 1.25em; 
}

.product-details {
    flex-grow: 1;
}

.review-btn {
    display: flex;
    justify-content: flex-start;
    background-color: #6d93aa;
    color: #fff;
    padding: 0.625em 1.875em; 
    border: none;
    border-radius: 0.313em;
}

.review-btn:hover {
    background-color: #6d93aa;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.review-btn:hover {
    background-color: #64989d;
}
#Stars{
    display:flex;
    flex-direction: column;
    justify-content: right;
      width: 10%;
      height: 30%;
}